
   <!-- Navigation -->
   <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
     <div class="container">
      	<a class="navbar-brand" href="{{ base }}/">
    		<img class="lazyload" data-src="{{ base }}/assets/img/Maapallo-logo-WEB1.png" width="175" height="30" alt="Home">
		</a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarResponsive">
         <ul class="navbar-nav ml-auto">
	        <!-- Auto Generation of NORMAL pages in the navbar -->
	        {% assign name_page = "" %}

          {% assign sorted_pages = (site.pages | sort: 'order', 'first') %}
	        {% for node in sorted_pages %}
	        {% if node.title and node.hide != true and (node.parentid == None or node.parentid == '' %}
	        {% if name_page contains node.title %}
	        {% else %}
				{% if node.menuid != None and node.menuid != '' %}
					<li class="dropdown nav-item">
						{% if site.menu_clickable == true %}
						<a href="{{base}}{{node.url}}" class="nav-link dropdown-toggle disabled">
						{% else %}
						<a href="{{base}}{{node.url}}" data-toggle="dropdown" class="nav-link dropdown-toggle">
						{% endif %}
							{{ node.title }}
						</a>

		                <ul class="dropdown-menu">
            {% assign sorted_subpages = (site.pages | sort: 'order', 'first') %}
						{% for cnode in sorted_subpages %}
					        {% if node.menuid != None cnode.title and cnode.hide != true and cnode.parentid == node.menuid %}
								<li><a class="nav-link" href="{{ base }}{{ cnode.url }}">{{ cnode.title }}</a></li>
					        {% endif %}
				        {% endfor %}
						</ul>

					</li>
				{% else if node.hide != true %}
		        	{% if node.url == page.url %}
		        	<li class="nav-item active">
					{% else %}
	    	    	<li class="nav-item">
		        	{% endif %}
			            <a class="nav-link" href="{{ base }}{{ node.url }}">
			                {{ node.title }}
			            </a>
			        </li>
				{% endif %}

	        {% endif %}
	        {% assign name_page = node.title | append: name_page %}
	        {% endif %}
	        {% endfor %}

         </ul>
       </div>
     </div>
   </nav>
